<section class="thirteen columns">
    <h1>Collaborations</h1>
    
    <i>fMIR connectivity methods development and validation:</i>
    <ul>
    	<li>T. Nichols (my supervisor), R. Harbord A., S. Afyouni, University of Warwick, UK
    	<li>L. Elliott, Department of Statistics, University of Oxford, UK</li>
	<li>K. Jann, University of Southern California, Los Angeles, United States</li>
    </ul>
    
    <i>Psychiatric Neuroimaging:</i>
    <ul>
    	<li>A. Federpiel, L. Soravia, M. Grieder Translational Research Center, University of Bern, Switzerland</li>
    	<li>M. Nakataki, Department of Psychiatry, University of Tokushima, Japan</li>
    </ul>
    	
    <i>Suicide prevention/clinical trial analysis:</i>
    <ul>
    	<li>A. Gysin-Maillart, University Hospital of Psychiatry, Bern, Switzerland</li>
    </ul>

</section>
