<section class="thirteen columns">
    <h1>Collaborations</h1>

	<dl>
		<dt>Prof. A. Federspiel, Dr. L. Soravia, Dr. Y. Morishima, University Hospital of Psychiatry, Bern</dt>
		<dt>Dr. M. Nakataki, Department of Psychiatry, University of Tokushima, Japan</dd>
		<dd>Effect of glucocorticoids on brain function in patients with phobia.</dd>
		
		<dt>Dr. M. Grieder, University Hospital of Psychiatry, Bern</dt>
		<dd>Functional connectivity in semantic dementia compared to Alzheimer's disease.</dd>
		
		<dt>Dr. A. Gysin-Maillart, University Hospital of Psychiatry, Bern</dt>
		<dd>Survival of suicide attempters and modelling coping mechanisms in suicidal behavior.</dd>
		
		<dt>Dr. K. Jann, University of California, Los Angeles.</dt>
		<dd>Functional connectivity in perfusion imaging data.<dd
		
		<dd></dd>
	</ul>

</section>
