<section class="thirteen columns">
    <h1>Collaborations</h1>
    <ul>
    	
    	<li>Psychiatric Neuroimaging:<br> A. Federpiel, L. Soravioa, M. Grieder Translational Research Center, University Hospital of Psychiatry, Bern, Switzerland</li>
    	<li>A. Gysin-Maillart, University Hospital of Psychiatry, Bern, Switzerland</li>
	<li>M. Nakataki, Department of Psychiatry, University of Tokushima, Japan</li>
	<li>E. LLoyd, Department of Statistics, University of Oxford, UK</li>
	
	<li>University of California, Los Angeles, United States</li>
    </ul>

</section>
