<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. in Health Sciences (Neurosciences)</h1>
            <span>University of Bern</span>
            <span><address>Switzerland</address><time>4/12/2013</time></span>
        </header>
        <p>
            <em>Thesis: Measurement and analysis of eye-head coordination in patients with schizophrenia.</em>
            [<a href="https://drive.google.com/open?id=0B_Iex2d05ajAUmR3RDJBTkRsNEE">pdf</a>]
        </p>
    </article>
    <article>
        <header>
            <h1>M.Sc. (Psychology, Computer Science)</h1>
            <span>University of Bern</span>
            <span><address>Switzerland</address><time>9/10/2008</time></span>
        </header>
        <p>
            <em>Thesis: Visual memory: Processing of spatial frequencies and visual representation.</em>
            [<a href="https://drive.google.com/open?id=0B_Iex2d05ajATW5GMlh2RUgxYzA">pdf</a>]
        </p>
    </article>
</section>
