<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc in Computer science</h1>
            <span>Bern University of Applied Sciences</span>
            <span><address>Bern, CH</address><time>2016 to 2021(ongoing)</time></span>
        </header>
        <p>
            <em>Specialisation: Data Engineering</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Berufsmaturität</h1>
            <span>Gewerblich-Industrielle Berufsschule Bern</span>
            <span><address>Bern, CH</address><time>2014 to 2015</time></span>
        </header>
        <p>
            <em>Specialisation: Gewerbliche Richtung</em>
        </p>
    </article>
</section>
