<section class="thirteen columns">
    <h1>Positions</h1>
    
    <article>
        <header>
            <h1>Visiting Fellow (SNSF Fellowship)</h1>
            <span>University of Warwick, UK &mdash; 01/2016 to Present</span>
        </header>
        <p>Neuroimaging Statistics (Prof. Thomas Nichols), Department of Statistics, and Institute of Digital Healthcare (Prof. Thomas Nichols)</p>
    </article>
    
    <article>
        <header>
            <h1>Postdoctoral Researcher</h1>
            <span>University Hospital of Psychiatry, Bern, Switzerland &mdash; 12/2013 to 12/2015</span>
        </header>
        <p>Psychiatric Neuroimaging Unit (Prof. Andrea Federspiel)</p>
    </article>
    
    <article>
        <header>
            <h1>Graduate Fellow (GHS)</h1>
            <span>University Hospital of Psychiatry, Bern, Switzerland &mdash; 10/2008 to 12/2013</span>
        </header>
        <p>Graduate School for Health Science (Neuroscience Program), University of Bern</p>
    </article>
    
</section>
