<section class="thirteen columns">
    <h1>Positions</h1>
    <article>
        <header>
            <h1>Visiting Fellow (SNSF)</h1>
            <span><address>University of Warwick, UK</address><time>01/2016 to Present</time></span>
        </header>
        <p>Neuroimaging Statistics, Institute of Digital Healthcare (Prof. Thomas Nichols, PhD)</p>
    </article>
    <article>
        <header>
            <h1>Postdoctoral Researcher</h1>
            <span><address>University Hospital of Psychiatry, Bern, Switzerland</address><time>12/2013 to 12/2015</time></span>
        </header>
        <p>Psychiatric Neuroimaging Unit (Prof. Andrea Federspiel, PhD)</p>
    </article>
    <article>
        <header>
            <h1>Graduate Fellow (GHS)</h1>
            <span><address>University Hospital of Psychiatry, Bern, Switzerland</address><time>10/2008 to 12/2013</time></span>
        </header>
        <p>Graduate School for Health Science (Neuroscience Program), University of Bern</p>
    </article>
</section>
