<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Hilfsassistent IT-Support</h1>
            <span><address>Bern, CH</address><time>2015 to Present</time></span>
        </header>
        <p><a href="http://www.upd.unibe.ch/about_us/personen/baumann_thomas/index_eng.html">UPD UNIBE</a></p>
    </article>
    <article>
        <header>
            <h1>Telematiker</h1>
            <span><address>Bern, CH</address><time>2013 to 2014</time></span>
        </header>
        <p>Betrieb: Brenner Telematik AG</p>
    </article>
    <article>
        <header>
            <h1>Telematiker</h1>
            <span><address>Bern, CH</address><time>2011 to 2013</time></span>
        </header>
        <p>Betrieb: Markus Hediger AG</p>
    </article>
</section>
