<section class="thirteen columns">
    <h1>Research</h1>
    <article>
        <p>Psychiatric disorders are common in our society. These disorders affect the brain and often cause tremendous personal distress. My research focuses on understanding brain connectivity in healthy and psychiatric conditions. Previous research has demonstrated that psychiatric disorders such as phobia, depression, and schizophrenia exhibit abnormalities in brain systems and their communication. I'm particularly interested in new computational methods to explore brain connectivity. These methods will hopefully improve the understanding, the diagnosis and the prognosis of such diseases, and may play an important role in personalized medicine in the future.</p>
    </article>
</section>
