<section class="thirteen columns">
    <h1>Updates</h1>
    
    <ul> 
        <li>13/05/2017–I will move to the <a href="https://www.bdi.ox.ac.uk">
            Big Data Institute</a> at Oxford University.
        </li>

        <li>02/03/2017–Together with my colleagues, we organized the
            <a href="https://brainhackwarwick.github.io/2017/">
            Brainhack Warwick 2017</a>.
        </li>
        
        <li>28/02/2017–My new
            <a href="https://drive.google.com/open?id=0B_Iex2d05ajAb0dFd28tbjFmU28">abstract</a>
            I'm going to present at the OHBM Conference in Vancouver.
        </li>        
        
        <li>08/12/2016–I was awarded the Advanced Postdoc Mobility Fellowship by the SNSF.
        <li>
    </ul>
    
</section>
