<section class="thirteen columns">
    <h1>In the news</h1>
    
    <article>
        <header>
            <a href="http://www.medicaldaily.com/novel-therapy-suicide-attempts-reduce-risk-376013">
            Novel 'Collaborative' Therapy Offered To People Who Attempt Suicide Significantly Reduces Risk Of Future Attempts</a></br>
            <span><address>medicaldaily.com</address><time>01/03/2016</time></span>
        </header>
    </article>
    
    <article>
        <header>
            <a href="http://znznews.ch/role-of-hippocampus-in-unconscious-memories/">
            Role of hippocampus in unconscious memories</a></br>
            <span><address>znznews.ch</address><time>01/12/2014</time></span>
        </header>
    </article>
    
    <article>
        <header>
            <a href="http://www.goodtherapy.org/blog/new-study-examines-eye-and-head-movement-in-schizophrenia-1010131">
            New Study Examines Eye and Head Movement in Schizophrenia</a></br>
            <span><address>GoodTherapy.org</address><time>10/10/2013</time></span>
        </header>
    </article>
    
</section>
