<section class="thirteen columns">
    <h1>In the news</h1>
    
    <article>
        <header>
            <a href="http://www.medicaldaily.com/reduce-risk-suicide-attempt-therapy-letters-therapist-376013">
            Chances of a repeat suicide attempt drop with new therapy plus regular therapist letters</a></br>
            <span><address>medicaldaily.com wrote about Anja's PloS Med study</address><time>01/03/2016</time></span>
            <!--</br>Further reading:<span></span>
            <span><a href="http://www.srf.ch/gesundheit/psyche/neue-therapie-fuer-suizidgefaehrdete">
                srf.ch</a></span>
            <span><a href="http://www.watson.ch/Wissen/Bern/519631866-Berner-Forscher-entwickeln-neue-Therapie-f%C3%BCr-Suizidgef%C3%A4hrdete">
                watson.ch</a></span>
            <span><a href="http://www.parentherald.com/articles/24932/20160302/study-reveals-that-a-collaborative-therapy-can-help-reduce-the-risk-of-future-suicide-attempts-dramatically.htm">
                parentherald.com</a></span>
            <span><a href="http://www.healio.com/psychiatry/suicide/news/online/%7Bf792931f-4bfb-46dd-b36a-dff8bf5f4825%7D/brief-therapy-program-improves-suicidal-outcomes-in-individuals-with-suicidal-behavior">
                healio.com</a></span>-->
        </header>
    </article>
    
    <article>
        <header>
            <a href="http://znznews.ch/role-of-hippocampus-in-unconscious-memories/">
            Role of hippocampus in unconscious memories</a></br>
            <span><address>znznews.ch wrote about Simone's Brain paper</address><time>01/12/2014</time></span>
        </header>
    </article>
    
    <article>
        <header>
            <a href="http://www.goodtherapy.org/blog/new-study-examines-eye-and-head-movement-in-schizophrenia-1010131">
            New study examines eye and head movement in schizophrenia</a></br>
            <span><address>GoodTherapy.org wrote about my PloS One study</address><time>10/10/2013</time></span>
        </header>
    </article>
    
</section>
