<section class="thirteen columns">
    <h1>In the news</h1>
    
    <article>
        <header>
            <a href="http://www.medicaldaily.com/reduce-risk-suicide-attempt-therapy-letters-therapist-376013">
            Chances of a repeat suicide attempt drop with new therapy plus regular therapist letters</a></br>
            <span><address>medicaldaily.com</address><time>01/03/2016</time></span>
        </header>
    </article>
    
    <article>
        <header>
            <a href="http://znznews.ch/role-of-hippocampus-in-unconscious-memories/">
            Role of hippocampus in unconscious memories</a></br>
            <span><address>znznews.ch</address><time>01/12/2014</time></span>
        </header>
    </article>
    
    <article>
        <header>
            <a href="http://www.goodtherapy.org/blog/new-study-examines-eye-and-head-movement-in-schizophrenia-1010131">
            New study examines eye and head movement in schizophrenia</a></br>
            <span><address>GoodTherapy.org</address><time>10/10/2013</time></span>
        </header>
    </article>
    
</section>
