
<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
        Jann, K., Gee, D. G., Kilroy, E., Schwab, S., Smith, R. X., Cannon, T. D. and Wang, D. J. J.
        <i>Functional connectivity in BOLD and CBF data: Similarity and reliability of resting brain networks</i>
        NeuroImage, Department of Neurology, UCLA, 90025 Los Angeles, USA., <b>2015</b>, Vol. 106, pp. 111-122
        </header>
        
        <header>
        Schwab, S., Jost, M. and Altorfer, A.
        <i>Impaired top-down modulation of saccadic latencies in patients with schizophrenia but not in first-degree relatives</i></dd>
        Frontiers in Behavioral Neuroscience, <b>2015</b>, Vol. 9, pp. 44
        </header>
        
        <header>
        Schwab, S., Koenig, T., Morishima, Y., Dierks, T., Federspiel, A. and Jann, K.
        <i>Discovering frequency sensitive thalamic nuclei from EEG microstate informed resting state fMRI</i>
        NeuroImage, <b>2015</b>, Vol. 118, pp. 368-375
        </header>

        <header>
        Soravia, L. M., Witmer, J. S., Schwab, S., Nakataki, M., Dierks, T., Wiest, R., Henke, K., Federspiel, A. and Jann, K.
        <i>Pre-stimulus default mode activity influences depth of processing and recognition in an emotional memory task.</i>
        Human Brain Mapping, <b>in press</b>
        </header>
  </article>
</section>
