
<section class="thirteen columns">
    <h1>Recent Publications</h1>
    <article>
        <header>
            <p>Jann K, Gee DG, Kilroy E, Schwab S, Smith RX, Cannon TD, & Wang DJJ (2015). Functional connectivity in BOLD and CBF data: Similarity and reliability of resting brain
            networks.</p> <span>NeuroImage</span> <p>106:111–122. doi:10.1016/j.neuroimage.2014.11.028.</p>
        </header>
    </article>
        
        <header>
            Schwab, S., Jost, M. and Altorfer, A.
            <i>Impaired top-down modulation of saccadic latencies in patients with schizophrenia but not in first-degree relatives</i></dd>
            Frontiers in Behavioral Neuroscience, <b>2015</b>, Vol. 9, pp. 44
        </header>
        
        <header>
            Schwab, S., Koenig, T., Morishima, Y., Dierks, T., Federspiel, A. and Jann, K.
            <i>Discovering frequency sensitive thalamic nuclei from EEG microstate informed resting state fMRI</i>
            NeuroImage, <b>2015</b>, Vol. 118, pp. 368-375
        </header>

        <header>
            Soravia, L. M., Witmer, J. S., Schwab, S., Nakataki, M., Dierks, T., Wiest, R., Henke, K., Federspiel, A. and Jann, K.
            <i>Pre-stimulus default mode activity influences depth of processing and recognition in an emotional memory task.</i>
            Human Brain Mapping, <b>in press</b>
        </header>
  </article>
</section>
