<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Git</em>, <em>Scrum</em> &amp; <em>Markdown</em>
        </p>    
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Maven</em>, <em>HTML/CSS</em> &amp; <em>PHP</em>
        </p> 
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C/C++ & Objective-C</em>, <em>Python</em> &amp; <em>Javascript</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Experience in</h1>
        </header>
        <p>
            CEPH Cluster, Apache Spark, Hadoop, YARN, Apache Camel
        </p>
        <p>
            DNS, DHCP, IPV4, IPV6, Network infrastructure, low voltage facilities, fibre, Ethernet
        </p>
        <p>
            telephone systems, VoIP, QoS
        </p>
        <p>
            Apache, Joomla, Wordpress, Certificates
        </p> 
        <p>
            Unix, SaltStack, Munin, Grafana, Nagios
        </p>
        <p>
            Windows Server (AD, GPM), VM
        </p>
    </article>
</section>
