<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Git</em>, <em>Scrum</em>, &amp; <em>Markdown</em>
        </p>    
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C/C++ & Objective-C</em>, <em>HTML/CSS</em>, <em>Java</em>, <em>Python</em>, <em>PHP</em>,  &amp; <em>Javascript</em>
        </p>
    </article>
</section>
